*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background:linear-gradient(130deg,#390f7b,#770379,#390f7b);
    width:40vw;
    height:30vh;
    margin:30vh auto;
    color:white;
    font:bold 3rem algerian;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}
@media(max-width:600px){
    #container{
        width:80vw;
        height:10vh;
        margin:10vh auto;
        font-size:2rem;
    }
}